body {
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    font-family: 'Source Sans 3', sans-serif;
}

.transparent-navbar {
    background-color: transparent;
    padding-left: 30px; /* Add margin to the left */
    padding-right: 30px; /* Add margin to the right */
}

.transparent-navbar .navbar-brand {
    color: white;
    font-size: 27px;
    margin-left: 60px;
    margin-top: 20px;
}

.transparent-navbar .navbar-nav .nav-link {
    color: white;
    margin-right: 60px; /* Add spacing to the right of the links */
    font-size: 27px;
    margin-top: 20px;
}

.email {
    color: white;
    text-align: center;
    font-size: 30px;
}

.linkedin {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 100px;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 50px;
}